body {
  background-image: url('./assets/img/Body-BG.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.cardbg {
  background-image: url('./assets/img/Card-BG.jpg');
  background-size: cover;
}
.weatherbg {
  background-image: url('./assets/img/Weather-BG.jpg');
  background-size: cover;
}
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
.customFont {
  font-family: 'Trade Winds';
  font-size: 3.5rem;
  color: rgb(0, 63, 180);
}
li {
  font-size: large;
}
